/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

/* STYLE CSS */
.container {
  padding: 88px 24px 0px 24px;
  background-image: url(../img/container_background.png);
  background-repeat: no-repeat;
  background-size: 100% 400px;
}

.header_section {
  position: relative;
  width: 326px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.header_section img {
  position: absolute;
  top: -57px;
  left: 91px;
  width: 146px;
}

.heading {
  font-size: 20px;
  font-weight: 800;
  line-height: 27.32px;
  text-align: center;
  color: #293356;
}

.subheading {
  font-size: 13px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  color: #848ead;
  width: 200px;
  margin: 0 auto;
}

.view_card_section {
  width: 327px;
  background-color: #ffffff;
  box-shadow: 0px 20px 30px -5px #7f89b927;
  border-radius: 12px;
  padding: 34px 0px;
  text-align: center;
  margin: 0 auto;
}

.productName {
  font-size: 12px;
  font-weight: 800;
  line-height: 16.39px;
  letter-spacing: 1.7142857313156128px;
  text-align: center;
  color: #848ead;
  margin-bottom: 25px;
}

.pageView {
  width: 279px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.priceLast {
  font-size: 32px;
  font-weight: 800;
  line-height: 43.71px;
  letter-spacing: -0.800000011920929px;
  text-align: right;
  color: #293356;
}

.monthYear {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: center;
  color: #848ead;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 34px;
}

.monthly_or_yearly {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 38px;
  border-bottom: 1px solid #ecf0fb;
  margin-bottom: 24px;
}

.monthlyBilling {
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  text-align: center;
  color: #848ead;
}

.yearlyBilling {
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  text-align: center;
  color: #848ead;
}

.yearlyBilling span {
  color: #ff8d68;
  background-color: #feede8;
  padding: 3px 8px;
  border-radius: 12px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 32px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  text-align: left;
  color: #848ead;
}

.my_trial {
  border: none;
  font-size: 12px;
  font-weight: 800;
  line-height: 16.39px;
  text-align: center;
  background-color: #293356;
  color: #becdff;
  padding: 12px 46px;
  border-radius: 24px;
}

.my_trial:hover {
  color: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #7aeadf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7aeadf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 279px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #a4f3eb;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -16px;
  background-color: #10d8c4;
  border-radius: 12rem;
  height: 40px;
  width: 40px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #10d8c4;
  outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
  background-color: #a4f3eb;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: #10d8c4;
  border: none;
  border-radius: 12rem;
  height: 40px;
  width: 40px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #10d8c4;
  outline-offset: 0.125rem;
}

@media (width >= 1280px) {
  .container {
    background-size: 100% 400px;
  }

  .subheading {
    width: 318px;
  }

  .view_card_section {
    width: 540px;
  }

  .bottom_section {
    padding: 0px 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    margin-bottom: 0;
  }

  ul li {
    justify-content: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.39px;
    text-align: left;
  }

  .my_trial {
    font-size: 12px;
    font-weight: 800;
    line-height: 16.39px;
    text-align: center;
    padding: 12px 46px;
  }

  .productName {
    font-size: 14px;
    font-weight: 800;
    line-height: 19.12px;
    letter-spacing: 2px;
    text-align: center;
  }

  .priceLast {
    font-size: 40px;
    font-weight: 800;
    line-height: 54.64px;
    letter-spacing: -1px;
    text-align: right;
  }

  .monthYear {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: center;
  }

  .monthlyBilling {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.39px;
    text-align: center;
  }

  .yearlyBilling {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.39px;
    text-align: center;
  }
}
